***Abstract :***
This project is built to detect the depressive based on the tweet content user posted.

In [33]:
# read the dataset
import pandas as pd 

# Read the CSV file
data = pd.read_csv('/content/sample_data/Sentiment140.csv', encoding='latin-1', header=None, names=['target', 'id', 'date', 'flag', 'user', 'text'])

In [34]:
# look through basic information of sentiment140
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [35]:
data.info

<bound method DataFrame.info of          target          id                          date      flag  \
0             0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1             0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2             0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3             0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4             0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
1599995       4  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996       4  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997       4  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998       4  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599999       4  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                    user                                               text
0        _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          scotthamilton  is upset that he can't update his Facebook by ...
2               mattycus  @Kenichan I dived many times for the ball. Man...
3                ElleCTF    my whole body feels itchy and like its on fire
4                 Karoli  @nationwideclass no, it's not behaving at all....
...                  ...                                                ...
1599995  AmandaMarie1028  Just woke up. Having no school is the best fee...
1599996      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
1599997           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
1599998     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
1599999   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]>

In the Sentiment140 dataset, the target column is a label indicating the sentiment of a tweet. 

Specifically, the target column contains values of 0, 2, or 4, where:

0 indicates a negative tweet \\
4 indicates a positive tweet

In [36]:
# Count the number of occurrences of each target value
counts = data['target'].value_counts()

# Calculate the percentage of data with each target value
percentages = counts / len(data) * 100

# Print the percentages
print(percentages)

0    50.0
4    50.0
Name: target, dtype: float64

So for this project, we will pick 10000 tweet as our "normal" tweet

In [37]:
# Select random 10,000 rows where target is 2 or 4
normal_tweet = data.sample(n=10000, random_state=42)

In [38]:
normal_tweet.info

<bound method DataFrame.info of          target          id                          date      flag  \
541200        0  2200003196  Tue Jun 16 18:18:12 PDT 2009  NO_QUERY
750           0  1467998485  Mon Apr 06 23:11:14 PDT 2009  NO_QUERY
766711        0  2300048954  Tue Jun 23 13:40:11 PDT 2009  NO_QUERY
285055        0  1993474027  Mon Jun 01 10:26:07 PDT 2009  NO_QUERY
705995        0  2256550904  Sat Jun 20 12:56:51 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
965972        4  1827657080  Sun May 17 11:10:20 PDT 2009  NO_QUERY
1193436       4  1984262616  Sun May 31 14:45:44 PDT 2009  NO_QUERY
896390        4  1693023020  Sun May 03 21:21:45 PDT 2009  NO_QUERY
544127        0  2201005638  Tue Jun 16 19:40:27 PDT 2009  NO_QUERY
117202        0  1827596172  Sun May 17 11:02:40 PDT 2009  NO_QUERY

                    user                                               text
541200   LaLaLindsey0609             @chrishasboobs AHHH I HOPE YOUR OK!!!
750          sexygrneyes  @misstoriblack cool , i have no tweet apps  fo...
766711        sammydearr  @TiannaChaos i know  just family drama. its la...
285055       Lamb_Leanne  School email won't open  and I have geography ...
705995       yogicerdito                             upper airways problem
...                  ...                                                ...
965972            Hici96  My sister, Cheyenne's birthday party is today!...
1193436           dauria                     @addieking you are SO welcome
896390      evankmathews  @RebekahMaylene seriously!! Those gals were ma...
544127       jimbafrosty  @SarahMascara thanks now i want chicken and ch...
117202       lovelylisaj  @kutefans sadly this is probably true. I'm now...

[10000 rows x 6 columns]>

In [39]:
# set the label of normal tweet into 0
normal_tweet["label"] = 0
# extract text and label
normal_tweet = normal_tweet[['text', 'label']]

In [40]:
# drop null value
normal_tweet.dropna(inplace = True)
normal_tweet.info

<ipython-input-40-f9a69f388d62>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normal_tweet.dropna(inplace = True)

<bound method DataFrame.info of                                                       text  label
541200              @chrishasboobs AHHH I HOPE YOUR OK!!!       0
750      @misstoriblack cool , i have no tweet apps  fo...      0
766711   @TiannaChaos i know  just family drama. its la...      0
285055   School email won't open  and I have geography ...      0
705995                              upper airways problem       0
...                                                    ...    ...
965972   My sister, Cheyenne's birthday party is today!...      0
1193436                     @addieking you are SO welcome       0
896390   @RebekahMaylene seriously!! Those gals were ma...      0
544127   @SarahMascara thanks now i want chicken and ch...      0
117202   @kutefans sadly this is probably true. I'm now...      0

[10000 rows x 2 columns]>

In [41]:
# save preprocess normal tweet into a csv file
normal_tweet.to_csv('/content/sample_data/normal_tweet.csv', index=False)

In [42]:
# double check normal tweet
normal_data = pd.read_csv('/content/sample_data/normal_tweet.csv')
normal_data.info

<bound method DataFrame.info of                                                    text  label
0                @chrishasboobs AHHH I HOPE YOUR OK!!!       0
1     @misstoriblack cool , i have no tweet apps  fo...      0
2     @TiannaChaos i know  just family drama. its la...      0
3     School email won't open  and I have geography ...      0
4                                upper airways problem       0
...                                                 ...    ...
9995  My sister, Cheyenne's birthday party is today!...      0
9996                     @addieking you are SO welcome       0
9997  @RebekahMaylene seriously!! Those gals were ma...      0
9998  @SarahMascara thanks now i want chicken and ch...      0
9999  @kutefans sadly this is probably true. I'm now...      0

[10000 rows x 2 columns]>